.forgotPasswordPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  .forgotPasswordContainer {
    width: 500px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .forgotPasswordContainer h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #333;
  }
  
  .forgotPasswordContainer form {
    display: flex;
    flex-direction: column;
  }
  
  .forgotPasswordContainer label {
    margin-bottom: 5px;
    color: #333;
  }
  
  .forgotPasswordContainer input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  .forgotPasswordContainer button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    background-color: darkolivegreen;
    color: #fff;
    cursor: pointer;
  }
  
  .signup,
  .forgotPassword {
    text-align: center;
    color: darkolivegreen;
    cursor: pointer;
  }
  
  .signup:hover,
  .forgotPassword:hover {
    text-decoration: underline;
  }
  