.Reservation-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.reservation-container{
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 1px;
  box-shadow: 0 4px 8px rgba(70, 213, 98, 0.1);
  width: 100%;
  max-width: 600px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.reservation-container h1,h2{
  text-align: center;
}

.reservation-section{
    border-radius: 1px;
    width: 100%;
    max-width: 600px;
  }

.reservation-input{
  width: 97%;
  padding: 8px;
  margin: 12px 0;
  border-radius: 1px;
  border: 1px solid #ccc;
  display: block;
  }

.input::placeholder{
    Color:gray;
  }

.reservation-section lable{
    color:rgb(0, 0, 0);

    font-family: 'Times New Roman', Times, serif;
  }

.date-input{
    width:100%;
 
    color:gray;
    background-color: rgb(255, 248, 240);
    text-align:center;
    border:none;
    font-size: 20px;
 
    font-family: 'Times New Roman', Times, serif;
}

  
::-webkit-calendar-picker-indicator{
    background-color: rgb(85, 110, 31);
    color:aliceblue;
  }